*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgba(214, 169, 255, 0.863);
    padding: 10px 20px;
    position: relative;
}

.menu-toggle{
    display: none;
}

.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamurguer span {
    height: 4px;
    background-color:rgba(160, 80, 235, 0.993)
    border-radius: 2px;
}

ul.menu{
    list-style: none;
    display: none;
    display: flex;
    gap: 20px;
}

ul.menu li a {
    color:blueviolet(253,60, 150)
    text-decoration: none;
}

h1 {
    align-items: center;
    justify-content: space space-between;
    background-color: #db4e4efa;

